@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Josefin+Slab:wght@400&display=swap');

// VARIABLES
$backgroundColor: rgb(203,230,239);
$black-color: #000000;
$link-visited-color: #02055A;

$Title-font: 'Cabin', sans-serif;
$small-body-font: 'Josefin Slab', serif;

// TYPOGRAPHY


// OVERALL

body {
    background-color: $backgroundColor;
}