.news-body{
    display: flex;

    .daily-news{
        width: 70%;
        margin-left: 3rem;
    }

    .nft-list{
        width: 30%;        
    }
}

@media(max-width: 414px){
    .news-body{
            .daily-news{
                width: 100%;
                margin-left: 0;
            }
            
            .nft-list{
                display: none;
            }
        }
    }
