@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Josefin+Slab:wght@400&display=swap");
body {
  background-color: #cbe6ef;
}

body h1, body h2, body h3, body a {
  font-family: "Bebas Neue", cursive;
}

body p {
  font-family: "IBM Plex Serif", serif;
}

@use '../base/base';
.resources-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
  margin: 10px;
}

.resources-title h1 {
  font-family: "Cabin", sans-serif;
}

.resources-title p {
  font-family: "Josefin Slab", serif;
  margin-bottom: 0px;
}

figure {
  margin-bottom: 0px;
}

h2 {
  font-size: 25px;
  font-weight: 500;
}

p {
  margin-bottom: 2px;
  font-size: 16px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #02055A;
  text-decoration: none;
  opacity: 0.42;
}

a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

a:active {
  opacity: 1;
  text-decoration: none;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.news-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-body .daily-news {
  width: 70%;
}

.news-body .nft-list {
  width: 30%;
}

@media (max-width: 579px) {
  .news-body {
    width: 100%;
  }
  .news-body .daily-news {
    width: 100%;
    margin-left: 0;
  }
  .news-body .nft-list {
    display: none;
  }
}

.about-header {
  height: 80px;
}

.about-header h1 {
  font-weight: 500;
  line-height: 1.2;
}

.about-header p {
  margin-bottom: 0;
}

.about-card p {
  text-align: justify;
  display: block;
  margin: 2em;
  font-weight: 500;
}

.about-card .card-group {
  margin: 20px;
  padding: 30px;
  border-radius: 10%;
}

.about-card .card {
  background-color: silver;
  color: #f2f2f2;
  padding: 10px;
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.circle {
  height: 180px;
  width: 180px;
  position: relative;
}

.circle .shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  -webkit-clip-path: circle(49.4% at 50% 50%);
          clip-path: circle(49.4% at 50% 50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.circle .shape .card-img {
  position: absolute;
  top: 10;
  left: 10;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card:hover .shape {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

@media (min-width: 900px) {
  .circle {
    height: 250px;
    width: 250px;
  }
  .shape .card-img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 414px) {
  .about {
    width: 100%;
  }
  .about-header h1 {
    text-align: inherit;
  }
  .about-card {
    padding: 1rem;
    padding-top: 0;
  }
  .about-card h2 {
    margin-top: 1rem;
  }
  .about-card p {
    padding: 0;
    margin: 1em 0;
  }
  .about-card .card-group {
    margin: 15px;
    padding: 10px;
  }
  .about-card .card-group .card {
    margin: 0 0 25px 0;
    padding: 0;
  }
  .card:hover .shape {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.newsCardList {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  height: 77.8vh;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.newsCardList h1 {
  font-weight: 400;
  padding: 10px;
}

.newsCardList .news-container {
  margin: auto;
}

.newsCardList .news-container .news-card {
  border-radius: .5rem;
  padding: .4rem 2rem;
  font-size: inherit;
  background-color: #f2f2f2;
  margin: 0.4rem 0.9rem 0.8rem 0.9rem;
  margin-top: 0.4rem;
  -webkit-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}

.newsCardList .news-container .news-card a {
  color: black;
  text-decoration: none;
}

.newsCardList .news-container .news-card:hover {
  background-color: #c9c9c9;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.newsCardList::-webkit-scrollbar {
  display: none;
}

@media (max-width: 414px) {
  .newsCardList {
    height: 66vh;
  }
  .newsCardList .news-container .news-card {
    margin: 0.4rem 0 0.8rem 0;
  }
}

.nft-list {
  height: 89vh;
  overflow-y: auto;
}

.nft-card {
  border-radius: 1.5rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.nft-card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

form {
  max-width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form option {
  color: black;
}

form label {
  margin-bottom: 1rem;
}

@media (max-width: 414px) {
  form {
    max-width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  form option {
    color: black;
  }
  form label {
    margin-bottom: 0rem;
    margin-right: 1rem;
  }
}

.page-head-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-head-container p {
  margin-bottom: 0;
}

@media (max-width: 414px) {
  .page-head-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 170px;
  }
}

.navbar .container .navbar-brand {
  font-size: 35px;
  margin: 8px 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar .container .navbar-brand:hover {
  opacity: 0.7;
  text-decoration: none;
}

.navbar .container .navbar-brand:active {
  opacity: 1;
  text-decoration: none;
}

.navbar .container .nav-link {
  font-size: 1.5rem;
}

.navbar .container .nav-link:hover {
  opacity: 0.7;
  text-decoration: none;
}

.navbar .container .nav-link:active {
  opacity: 1;
  text-decoration: none;
}

.header {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100vw;
  height: calc(100vh - 85px);
}

.header .header-image {
  width: 100%;
  height: calc(100vh - 85px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.header .header-title {
  position: absolute;
  width: 100%;
  line-height: 50px;
  text-align: center;
  margin: auto;
  bottom: 50%;
}

.header .header-title h1 {
  color: #f2f2f2;
}

.header .header-title p {
  color: #f2f2f2;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
