$backgroundColor: rgb(203,230,239);
$newsCardColor: rgb(242,242,242);

.newsCardList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    // margin: 2rem;
    background-color: $backgroundColor;

    h1 {
        font-weight: 400;
        padding: 10px;
    }

    .news-container{
        margin: auto;

        .news-card {
            // border:2px solid #161b7f;
            border-radius: .5rem;
            padding: .4rem 2rem;
            font-size: inherit;
            background-color: $newsCardColor;
            margin-bottom: 0.4rem;
            margin-top: 0.4rem;
        }
    }
}