.list-title-container{
    display: flex;
    height: 110px;
    align-items: center;
    justify-content: center;

    .nft-list-title {
        text-align: center;
        margin: 0;
        padding: 0;
    }
}

.nft-card {
    border-radius: 1.5rem;
    transition: all 0.2s ease-in;
}

.nft-card:hover {
    transform: scale(1.03);
}
