// .nft-page-container {    
//     display: flex;
//     justify-content: space-around;
// }

// .nft-list {
//     display: flex;
//     flex-direction: column;
// }


.nft-list-title {
    text-align: center;
    margin: 0;
    padding: 0;
}