.page-head-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin: 10px 0 0 0;
  max-height: 120px;
  p {
    margin-bottom: 0;
  }
}

@media (max-width: 414px) {
  .page-head-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: fit-content;

    form{
      margin: 20px 0 20px 0;    
    }

  }
}
