.page-body{
    display: flex;
    background-color: rgb(203,230,239);
    
    .daily-news{
        width: 60%;
    }

    .nft-list{
        width: 40%;
        
    }
    
 
}

   @media(max-width: 414px){

    .page-body{
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;        
        
        .daily-news{
            width: 100%
        }

        .nft-list{
            display: none;
        }
    }

    }