.navbar {
    .container {
        .navbar-brand {
            font-size: 35px;
            margin:  8px 0;
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

           .nav {
                .nav-link {
                    font-size: 1.6rem;
                }
            }
        
        }
    }
}

